certifi==2017.11.5
chardet==3.0.4
Django==2.2.10
gunicorn==19.7.1
pkg-resources==0.0.0
psycopg2==2.7.3.2
django-autocomplete-light==3.2.10
django-bootstrap3==9.1.0
django-extensions==1.9.9
djangorestframework==3.7.3
elasticsearch==6.1.1
elasticsearch-dsl==6.1.0
idna==2.6
ipaddress==1.0.19
mistune==0.8.3
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
six==1.11.0
spotipy==2.4.4
typing==3.6.2
urllib3==1.22
