{% load staticfiles %}
{% load markdownify %}
<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="{% static 'adam/style.css' %}"/>
		<title>ALLGALL</title>
	</head>
	<body>
		<div id="header-container">
			<div id="header">
				<div id="name">
					<h1><a href="/" id="name">AllGall</a></h1>
				</div>
				<div id="header-nav">
					<ul>
						<li><a href="/ToDo/">TODO</a></li>
						<li>
							<a href="mailto:adam@allgall.net" target="_blank">CONTACT</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div id="main-container">
			{% for blogpost in blogposts %}
				<div class="post">
					<h1>{{ blogpost.title }}</h1>
					<p>{{ blogpost.date_published|date:"Y.m.d" }}</p>
					<div class="post-body">
						{{ blogpost.body | markdown | safe }}
					</div>
				</div>
			{% endfor %}
		</div>

		<div id="footer">
		</div>

	</body>
</html>
