{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% load bootstrap3 %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>FactCite Stats</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
	</head>
	<body>
	<div class="container">
		<h1>FactCite Stats</h1>
		<p>Total Hits: {{ total }}</p>
		<p>Date Range: </p>
		<div id="charts" height="200">
			<div class="row">
				<div class="col-8" id="chart_1">
					<canvas id="pie-chart-1" height="200"></canvas>
				</div>
				<div class="col-4" id="form">
					<form action="" method="get">
						{{ form.as_p }}
						{% buttons %}
							<input type="submit" value="Submit" />
						{% endbuttons %}
					</form>
				</div>
			</div>
		</div>
		<hr/>
		<div id="lists">
			<div class="row">
				<div class="col" id="list_1"></div>
				<div class="col" id="list_2"></div>
			</div>
		</div>
		<div id="articles" class="col-md-6">
			<table class="table">
			  <thead>
				<tr>
				  <th scope="col">#</th>
				  <th scope="col">Product</th>
				  <th scope="col">Article</th>
				</tr>
			  </thead>
			  <tbody>
			  {% for hit in hits %}
				<tr>
				  <th scope="row">{{ hit.doc_count }}</th>
				  <td>{{ hit.product }}</td>
				  <td>{{ hit.title }}</td>
				</tr>
			  {% endfor %}
			  </tbody>
			</table>
		</div>
		<div class="col-md-4" id="filters" style="visibility: hidden;">
			{% for facet in facets %}
				<div class="panel panel-default facet-{{ facet.name }}">
				  <div class="panel-heading">{{ facet.name }}</div>
				  <div class="panel-body">
					{% for value in facet.vals %}
						<p class="facet-value" data-value="{{ value.value }}" data-count="{{ value.count }}" data-displayvalue="{{ value.display_value }}">
							<a class="btn {% if value.selected %}btn-primary{% else %}btn-default{% endif %}" href="{{ value.href }}">
								{{ value.display_value }}
								<span class="badge">{{ value.count }}</span>
							</a>
						</p>
					{% endfor %}
				  </div>
				</div>
			{% endfor %}
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
	<script type="text/javascript" src="{% static 'fc_stats/admin/js/vendor/jquery/jquery.js' %}"></script>
	<script
	  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
	  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
	  crossorigin="anonymous"
	></script>
	<script src="https://d3js.org/d3.v3.js"></script>
	<script>
		jQuery(function($) {
			var graph_labels = [];
			var graph_data = [];
			var graph_colors = [];

			$('.facet-product .facet-value').each(function() {
				graph_labels[graph_labels.length] = $(this).data("displayvalue");
				graph_data[graph_data.length] = $(this).data("count");
				graph_colors[graph_colors.length] = getRandomColor();
			});

			new Chart(document.getElementById("pie-chart-1"), {
				type: 'pie',
				data: {
				  labels: graph_labels,
				  datasets: [{
					label: "Hits by Product",
					backgroundColor: graph_colors,
					data: graph_data
				  }]
				},
				options: {
				  title: {
					display: true,
					text: 'Hits By DB'
				  }
				}
			});

			function getRandomColor() {
				var letters = '0123456789ABCDEF'.split('');
				var color = '#';
				for (var i = 0; i < 6; i++ ) {
					color += letters[Math.floor(Math.random() * 16)];
				}
				return color;
			}
		});

		$( function() {
    $( ".datepicker" ).datepicker();
  } );
	</script>
	{{ form.media }}
	</body>
</html>