* {
	margin: 0;
	padding: 0;
}
a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: red;
}

a:active {
    text-decoration: underline;
}

#swaplist {
	height: 0;
}

#headerContainer {
	position: relative;
	overflow: hidden;
	background-color: green;
}
#mainBodyContainer {
	margin: auto;
	position: relative;
	clear: both;
	height: 100%;
	width: 100%;
}
.widgetContainer{
    padding: 3px;
    position: absolute !important;
    display: inline;
}
.widget{
	border-style: solid;
	border-width: 2px;
	overflow: hidden;
}
.widget h3 {
	text-align: center;
    border-bottom: thin dotted;
}
.widget h3 img {
	float:right;
	padding: 4px;
}
.tasklist{
	display: inline;
}
.closeWidgetButton{
	display: inline;
}
.task{
    padding: 2px 5px 2px 5px;
}
.taskTitle{
	display:inline;
	padding: 0 0 0 5px;
}
.taskTitleCompleted{
	display:inline;
	padding:0 0 0 5px;
	text-decoration:line-through;
}
.addTaskButton{
	height: 15px;
	width: 15px;
	margin: 5px;
	display: inline;
}
.trashButton{
	display: inline;
	width: 15px;
	height: 15px;
}
.buttons{
	position: absolute;
	bottom: 0;
}
.addTaskListButton{
	height: 15px;
	width: 15px;
	margin: 5px;
	display: inline;
}
.dragHandle{
	display: inline;
	padding: 0 5px 0 0;
}