{% spaceless %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'ToDo/reset.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'ToDo/style.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
<script type="text/javascript" src="{% static 'ToDo/jquery.editable.min.js' %}"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

<div id="mainBodyContainer">
<div id="swaplist"></div>

{% csrf_token %}
{% if tasklists %}
	{% for tasklist in tasklists %}
    {% if tasklist.status == 1 %}
    <div class="widgetContainer" title="{{ tasklist.id }}" data-tasklistid="{{tasklist.id}}" style="top:{{tasklist.top}};left:{{tasklist.left}}">
        <div class="widget" title="{{ tasklist.id }}" data-tasklistid="{{tasklist.id}}" style="width:{{tasklist.width}};height:{{tasklist.height}}">
            <div class="TaskList" id="{{tasklist.id}}">
                <h3>
                    <a href="tasklist/{{tasklist.id}}/">{{ tasklist.title }}</a>
                    <div class="closeWidgetButton" data-tasklistid="{{tasklist.id}}"><img src="/static/ToDo/x.svg" width="7px" height="7px" /></div>
                </h3>
                <ul class="tasks" data-tasklistid="{{tasklist.id}}">
                    {% for task in tasklist.task_set.all %}
                        {% if task.status >= 0 %}
                            <li class="task" data-taskid="{{task.id}}">
                                <img class="dragHandle" src="/static/ToDo/dragHandle.svg" width="10px" height="13px" />
                                <input type="checkbox" 
                                    {% if task.status == 1 %}
                                         checked
                                    {% endif %}>
                                </input>
                                <div class="taskTitle">{{ task.title }}</div>
                                <br />
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="buttons" data-tasklistid="{{ tasklist.id }}">
                <div class="addTaskButton">
                    <img src="/static/ToDo/plus.svg" width="15px" height="15px" />
                </div>
                <div class="trashButton">
                    <img src="/static/ToDo/trash.svg" width="15px" height="15px" />
                </div>
            </div>
        </div>
    </div>
    {% endif %}
	{% endfor %}
{% else %}
	<p>No TaskLists are available. Try creating one!</p>
{% endif %}
</div>
<div id="footer">
    <div class="buttons" title="footer">
        <div class="addTaskListButton"><img src="/static/ToDo/plus.svg" width="15px" height="15px" />New List</div>
    </div>
</div>

<script type="text/javascript" src="{% static 'ToDo/scripts.js' %}"></script>
{% endspaceless %}